table{
    border:solid 2px #A1A9AB;
    border-spacing:3px;
}
td{
    border:1px solid #AAAAAA;
    padding:15px;
}

body {
	color:#113e5d;
	font-family:Georgia, "Times New Roman", Times, serif;
}
